<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Page</title>
    <!-- <link rel="stylesheet" href="assets/style2.css"> -->
    <!--Jinja template syntax uses double curly braces          : a way to write python directly into html -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css' ) }}">
</head>

<body>
    <h1>Hello World this side Mihir!</h1>
    <p>Welcome to the my first webpage of flask although the funniest part is I know complete MERN Stack.</p>
    <!-- <script src="static/app.js"></script> -->
</body>

</html>